
    .navbar-brand {
      font-size: 40px;   
  }
  
  .navbar-right {
      width: 50%;
    }
  
  #main-pic {
      float: left;
      width: 150px;
      padding: 10px
  }
  .lead {
      padding: 15px;
      background-color: rgba(245, 245, 245, 0.815);
      font-size: 25px;
      /* -ms-grid-row-align: center; */
      text-align: center;  
  }
  
  .assets {
      padding: 10px;
      text-align: center;
  }
  
  .header {
      font-size: 40px
  }
  
  .box-container {
      display: grid;
      border: 2px solid rgba(7, 7, 7, 0.5);
      height: 250px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      background: rgba(226, 226, 226, 0.4);
      justify-items: center;
    }
    .img {
      width: 50%;
      height: 50%;
      background: rgba(158, 247, 239, 0.4);
      border: 2px solid rgba(226, 226, 226, 0.4)
    }
    .img_id {
        border-style: solid;
        border-color:slategrey
    }
  
  .Comp-Header {
      text-align: center;
      padding: 10px
  }
  