
    .navbar-brand {
      font-size: 40px;   
  }
  
  .navbar-right {
      width: 50%;
    }
  
  #main-pic {
      float: left;
      width: 150px;
      padding: 1rem;
        box-shadow: 0 3px 6px rgba(0,0,0,0.4);
        background: #333;
        background-size: cover;
        margin-right:30px;
        margin-bottom:30px;
        display: block;
        border: 1px solid white;
  }
  .lead {
      padding: 15px;
      background-color: rgba(245, 245, 245, 0.815);
      font-size: 25px;
      /* -ms-grid-row-align: center; */
      text-align: center;  
  }
  .contact_page {
    text-align: center; 
  }
  
  .assets {
      padding: 10px;
      text-align: center;
  }
  
  .header {
      font-size: 40px;
      text-align: center;

  }
  
  .box-container {
      display: grid;
      border: 2px solid rgba(7, 7, 7, 0.5);
      height: 250px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      background: rgba(226, 226, 226, 0.4);
      justify-items: center;
    }
    .img {
      width: 50%;
      height: 50%;
      background: rgba(158, 247, 239, 0.4);
      border: 2px solid rgba(226, 226, 226, 0.4)
    }
    .img_id {
        border-style: solid;
        border-color:slategrey
    }
  
  .Comp-Header {
      text-align: center;
      padding: 10px
  }
  
  @media (max-width: 600px) {
    .navbar-dark.bg-dark {
        background-color:violet  !important;}
    .btn.btn-primary {
        background-color:slategrey  !important;
        border-color:#333 !important;}
    
}